@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model ClientMVC.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Product" asp-action="Create" method="post">
            <div asp-validation-summary="All"></div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
            <br />
            <label asp-for="Price" ></label>
            <input asp-for="Price" />
            <span asp-validation-for="Price"></span>
            <br />
            @*@Html.EditorForModel()*@
            <input type="submit" value="Create" class="btn btn-primary" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

