
@{
    ViewData["Title"] = "Edit";
}

@model SupplierViewModel;

<h1>Edit</h1>

<div>
    <form method="post">
        <div asp-validation-summary="All"></div>

        <div>
            <label asp-for="SupplierId"></label>
            <input asp-for="SupplierId" />
            <span asp-validation-for="SupplierId"></span>
        </div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="OfficeAddress"></label>
            <input asp-for="OfficeAddress" />
            <span asp-validation-for="OfficeAddress"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <button type="submit" name="Edit"></button>
    </form>
</div>



