
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <input type="text" class="username" />
        <input type="text" class="message" />
    </div>
    <div>
        <input type="button" class="all" value="Send To All" />
    </div>
    <div class="chatLog">

    </div>

    <script src="~/lib/jquery.js"></script>
    <script src="~/lib/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</body>
</html>
